---
import BasicLayout from '../layouts/BasicLayout.astro';
---

<BasicLayout>
  <main class="flex flex-col items-center justify-center px-4">
    <h1 class="text-5xl text-center">This is for educational purposes</h1>
    <p class="mt-8 text-2xl text-center">
      This site has been created for demonstrational and educational purposes.
      It is not associated with NASA in any way. Build with <a
        href="https://astro.build"
        class="underline">Astro.build</a
      >
    </p>
  </main>
</BasicLayout>

<style>
  main {
    height: calc(100vh - 100px);
  }
</style>
